body {
    font-family: sans-serif;
    padding: 10px 5px;
    min-width: 760px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ebf0fd
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

#status-message {
    text-align: center;
    margin: -5px auto 20px auto;
    display: block;
    width: 100%;
    min-height: 20px;
}

#schedules-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.schedule-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    border: none;
}

.schedule-row .index {
    min-width: 5px;
    text-align: right;
    font-weight: bold;
}

.schedule-row .url-input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 1.3125rem;
}

.schedule-row .time-input,
.schedule-row .close-time-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 1.3125rem;
    max-width: 5.8rem;
}

#timezone-info-container {
    text-align: center;
    margin: 10px auto 15px;
}

.timezone-info {
    font-size: 0.9em;
    color: #555;
}

.auto-close-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 2.05rem;
    min-width: 7.9rem;
}

.duration-container, .time-close-container {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 1.3125rem;
    width: 11.7rem;
}

.duration-input {
    width: 2.5rem;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 1.3125rem;
}

.schedule-row .remove-schedule {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.schedule-row .remove-schedule:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}


.controls {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.controls button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: transform 0.2s ease;
}

#add-schedule {
    background-color: #673AB7;
    color: white;
    width: 7.2rem;
}
#add-schedule:hover {
    background-color: #512DA8;
    transform: scale(1.05);
}


#save-settings {
    background-color: #2196F3;
    color: white;
    width: 7.2rem;
}
#save-settings:hover {
    background-color: #0b7dda;
    transform: scale(1.05);
}

#cancel-settings {
    background-color: #ffc107;
    color: white;
    width: 7.2rem;
}
#cancel-settings:hover {
    background-color: #FB8C00;
    transform: scale(1.05);
}

#clear-all {
    background-color: #f44336;
    color: white;
    width: 7.2rem;
}
#clear-all:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}

.status {
    margin-left: 15px;
    font-weight: bold;
}
.status.success {
    color: #1976D2;
}
.status.error {
    color: red;
}

.status.warning {
    color: #ff8800;
}

.status.info {
    color: #1976D2;
}

input:invalid {
  border-color: red;
}